thead {
    font-size: 18px ;
}

.thName {
  width: 200px;
  text-align: left;
  padding-left: 36px;
}

.thShop {
  width: 200px;
  text-align: left;
  padding-left: 16px;
}
.thSum {
  width: 200px;
  text-align: left;
  padding-left: 16px;
}
.thType {
  width: 200px;
  text-align: left;
  padding-left: 16px;
}
.thDate {
  width: 200px;
  text-align: left;
  padding-left: 16px;
}

.tableHead {
    height: 50px;
    border-bottom: 1.5px solid #dddfe0;
}


